@model Avansist.Models.Entities.Preinscripcion

@{
    ViewData["Title"] = "Details";
}

@section Style {

    <link href="~/css/AggBeneficiario.css" rel="stylesheet" />
    <link href="~/lib/bs-stepper/bs-stepper.min.css" rel="stylesheet" />
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header pb-0">
        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col-sm-6">
                    <ul id="List"> <li class="heading" style="list-style: none; font-size: 25px" id="IconList"> Detalle beneficiario</li></ul>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="">Inicio</a></li>
                        <li class="breadcrumb-item active">Preinscripción</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 mx-auto p-2">
                <div class="card mt-0 mb-3">
                    <input type="hidden" asp-for="PreinscripcionId" id="preinscripcionId" />
                    <div class="bs-stepper" id="form-beneficiario">
                        <div class="bs-stepper-header pt-2" role="tablist">
                            <!-- your steps here -->
                            <div class="step" data-target="#info-nino">
                                <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
                                    <span class="bs-stepper-circle">1</span>
                                    <span class="bs-stepper-label">Datos Básicos</span>
                                </button>
                            </div>
                            <div class="line"></div>
                            <div class="step" data-target="#info-complementaria">
                                <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                                    <span class="bs-stepper-circle">2</span>
                                    <span class="bs-stepper-label">Datos Complementarios</span>
                                </button>
                            </div>
                            <div class="line"></div>
                            <div class="step" data-target="#info-familiar">
                                <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                                    <span class="bs-stepper-circle">3</span>
                                    <span class="bs-stepper-label">Información Familiar</span>
                                </button>
                            </div>
                            <div class="line"></div>
                            <div class="step" data-target="#info-final">
                                <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                                    <span class="bs-stepper-circle">4</span>
                                    <span class="bs-stepper-label">Documentación</span>
                                </button>
                            </div>
                        </div>
                        <div class="bs-stepper-content">
                            <!-- your steps content here -->
                            <!-------------------------- step 1 ---------------------------->

                            <div id="info-nino" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                                <form action="/" method="post" id="form-general">
                                    <div class="col-7 mt-3">
                                        <h2 class="fs-title">Información del niño(a):</h2>
                                    </div>
                                    <div class="col-sm-12 mb-5">
                                        <hr />
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-4">
                                            <label asp-for="PrimerNombreBeneficiario" class="control-label"></label> <label id="asterisco">*</label>
                                            <input disabled asp-for="PrimerNombreBeneficiario" class="form-control" rangelength="3,45" type="text" name="primerNomB" id="primerNomB" placeholder="Ingrese el primer nombre" required />
                                            <span asp-validation-for="PrimerNombreBeneficiario" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="SegundoNombreBeneficiario" class="control-label"></label>
                                            <input disabled asp-for="SegundoNombreBeneficiario" class="form-control" rangelength="3,45" type="text" name="segundoNomB" id="segundoNomB" placeholder="Ingrese el segundo nombre" />
                                            <span asp-validation-for="SegundoNombreBeneficiario" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="PrimerApellidoBeneficiario" class="control-label"></label> <label id="asterisco">*</label>
                                            <input disabled asp-for="PrimerApellidoBeneficiario" class="form-control" rangelength="3,45" type="text" name="primerApeB" id="primerApeB" placeholder="Ingrese el primer apellido" required />
                                            <span asp-validation-for="PrimerApellidoBeneficiario" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">

                                        <div class="form-group col-sm-4">
                                            <label asp-for="SegundoApellidoBeneficiario" class="control-label"></label> <label id="asterisco">*</label>
                                            <input disabled asp-for="SegundoApellidoBeneficiario" class="form-control" rangelength="3,45" type="text" name="segundoApeB" id="segundoApeB" placeholder="Ingrese el segundo apellido" required />
                                            <span asp-validation-for="SegundoApellidoBeneficiario" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="FechaNacimiento" class="control-label"></label>  <label id="asterisco">*</label>
                                            <input disabled asp-for="FechaNacimiento" class="form-control" type="date" name="fechaNac" id="fechaNac" required />
                                            <span asp-validation-for="FechaNacimiento" class="text-danger error"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="Edad" class="control-label"></label> <label id="asterisco">*</label>
                                            <input disabled asp-for="Edad" class="form-control" maxlength="2" type="text" name="edad" id="edad" required />
                                            <span asp-validation-for="Edad" class="text-danger error"></span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">

                                        <div class="form-group col-sm-4">
                                            <label asp-for="LugarNacimiento" class="control-label"></label> <label id="asterisco">*</label>
                                            <input disabled asp-for="LugarNacimiento" class="form-control" rangelength="3,45" type="text" name="lugNaci" id="lugNaci" placeholder="Ingrese el lugar de nacimiento" required />
                                            <span asp-validation-for="LugarNacimiento" class="text-danger error"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="TipoDocumentoId" class="control-label"></label>  <label id="asterisco">*</label>
                                            <select disabled asp-for="TipoDocumentoId" class="form-control" name="tipoDocumento" id="tipoDocumento" asp-items="ViewBag.listaTipoDocumentos" required>
                                                <option value="">Seleccione el documento</option>
                                            </select>
                                            <span asp-validation-for="TipoDocumentoId" class="text-danger error"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="NumeroDocumento" class="control-label"></label> <label id="asterisco">*</label>
                                            <input disabled asp-for="NumeroDocumento" class="form-control" type="text" name="numDoc" id="numDoc" placeholder="Ingrese el n° de documento" required />
                                            <span asp-validation-for="NumeroDocumento" class="text-danger error"></span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">

                                        <div class="form-group col-sm-4">
                                            <label asp-for="LugarExpedicionDocumento" class="form-label"></label> <label id="asterisco">*</label>
                                            <input disabled asp-for="LugarExpedicionDocumento" class="form-control" rangelength="3,45" type="text" name="expedido" id="expedido" placeholder="Lugar de expedición" required />
                                            <span asp-validation-for="LugarExpedicionDocumento" class="text-danger error"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="ModalidadId" class="control-label"></label> <label id="asterisco">*</label>
                                            <select disabled asp-for="ModalidadId" name="modalidad" id="modalidad" class="form-control" asp-items="ViewBag.listaModalidads" required>
                                                <option value="">Seleccione la modalidad</option>
                                            </select>
                                            <span asp-validation-for="ModalidadId" class="text-danger error"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="CustodiaBeneficiario" class="form-label"></label> <label id="asterisco">*</label>
                                            <input disabled asp-for="CustodiaBeneficiario" class="form-control" rangelength="3,45" type="text" name="custodiaBeneficiario" id="custodiaBeneficiario" placeholder="Ingrese la custodia" required />
                                            <span asp-validation-for="CustodiaBeneficiario" class="text-danger error"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-4">
                                            <label asp-for="DireccionResidencia" class="form-label"></label> <label id="asterisco">*</label>
                                            <input disabled asp-for="DireccionResidencia" class="form-control" rangelength="3,45" type="text" name="direccion" id="direccion" placeholder="Ingrese la dirección de residencia" required />
                                            <span asp-validation-for="DireccionResidencia" class="text-danger error"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="Municipio" class="form-label"></label>  <label id="asterisco">*</label>
                                            <input disabled asp-for="Municipio" class="form-control" rangelength="3,45" type="text" name="municipio" id="municipio" placeholder="Ingrese el municipio" required />
                                            <span asp-validation-for="Municipio" class="text-danger error"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="EtniaId" class="control-label"></label> <label id="asterisco">*</label>
                                            <select disabled asp-for="EtniaId" name="etnia" id="etnia" class="form-control" asp-items="ViewBag.listaEtnias" required>
                                                <option value="">Seleccione la etnia</option>
                                            </select>
                                            <span asp-validation-for="EtniaId" class="text-danger error"></span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">

                                        <div class="form-group col-sm-3">
                                            <label asp-for="GeneroId" class="control-label"></label> <label id="asterisco">*</label>
                                            <select disabled asp-for="GeneroId" class="form-control" id="genero" name="genero" asp-items="ViewBag.listaGeneros" required>
                                                <option value="">Seleccione Genero</option>
                                            </select>
                                            <span asp-validation-for="GeneroId" class="text-danger error"></span>
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <label asp-for="TallaCamisa" class="control-label"></label>
                                            <input disabled asp-for="TallaCamisa" class="form-control" type="text" name="tallaCamisa" id="tallaCamisa" placeholder="Ingrese la talla de la camisa" />
                                            <span asp-validation-for="TallaCamisa" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <label asp-for="TallaPantalon" class="control-label"></label>
                                            <input disabled asp-for="TallaPantalon" class="form-control" type="text" name="tallaPantalon" id="tallaPantalon" placeholder="Ingrese la talla del pantalon" />
                                            <span asp-validation-for="TallaPantalon" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <label asp-for="TallaZapatos" class="form-label"></label>
                                            <input disabled asp-for="TallaZapatos" class="form-control" type="text" name="tallaZapatos" id="tallaZapatos" placeholder="Ingrese la talla de zapatos" />
                                            <span asp-validation-for="TallaZapatos" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-10 text-right">
                                        <button type="button" class="btn btn-success" onclick="stepperForm.next()">Siguiente</button>
                                    </div>
                                </form>
                            </div>

                            <!-------------------------- step 2 ---------------------------->

                            <div id="info-complementaria" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                                <form action="/" method="post" id="form-complementaria">
                                    <div class="col-7 mt-3">
                                        <h2 class="fs-title">Información medica:</h2>
                                    </div>
                                    <div class="col-sm-12 mb-5">
                                        <hr />
                                    </div>
                                    <div class="mt-5 d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-4">
                                            <label asp-for="NombreEps" class="control-label"></label> <label id="asterisco">*</label>
                                            <input readonly asp-for="NombreEps" class="form-control" rangelength="3,45" type="text" name="nombreEps" id="nombreEps" placeholder="Ingrese la EPS" required />
                                            <span asp-validation-for="NombreEps" class="text-danger error"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="GrupoSanguineoId" class="control-label"></label> <label id="asterisco">*</label>
                                            <select disabled asp-for="GrupoSanguineoId" class="form-control" name="factorRh" id="factorRh" asp-items="ViewBag.listaGrupoSanguineos" required>
                                                <option value="">Seleccione el RH</option>
                                            </select>
                                            <span asp-validation-for="GrupoSanguineoId" class="text-danger error"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="GrupoSisben" class="form-label"></label> <label id="asterisco">*</label>
                                            <input readonly asp-for="GrupoSisben" class="form-control" type="text" name="grupoSisben" id="grupoSisben" placeholder="Ingrese la EPS" required />
                                            <span asp-validation-for="GrupoSisben" class="text-danger error"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 d-flex justify-content-around mb-4">
                                        <div class="form-group form-check col-sm-6">
                                            <input type="hidden" name="hiddenAnteMedic" id="hiddenAnteMedic" />
                                            <label asp-for="AntecedenteMedico" class="form-check-label">
                                                <input disabled asp-for="AntecedenteMedico" class="form-check-input" name="antecedenteMedico" id="antecedenteMedico" />
                                                @Html.DisplayNameFor(model => model.AntecedenteMedico)
                                            </label>
                                        </div>
                                        <div class="form-group form-check col-sm-6" style="padding-left: 115px">
                                            <input type="hidden" name="hiddenAntePsico" id="hiddenAntePsico" />
                                            <label asp-for="AntecedentePsicologico" class="form-check-label">
                                                <input disabled asp-for="AntecedentePsicologico" class="form-check-input" name="antecedentePsicologico" id="antecedentePsicologico" />
                                                @Html.DisplayNameFor(model => model.AntecedentePsicologico)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-5">
                                            <label asp-for="DescripcionEnfermedad" class="control-labe"></label>
                                            <textarea readonly asp-for="DescripcionEnfermedad" class="form-control" name="descripcionEnfermedad" id="descripcionEnfermedad" cols="30" rows="2"></textarea>
                                        </div>
                                        <div class="form-group col-sm-5">
                                            <label asp-for="DescripcionPsicologica" class="control-label"></label>
                                            <textarea readonly asp-for="DescripcionPsicologica" class="form-control" name="descripcionPsicologica" id="descripcionPsicologica" cols="30" rows="2"></textarea>
                                        </div>
                                    </div>
                                    @*<div class="col-7">
                                        <h2 class="fs-title">Información Educativa:</h2>
                                    </div>
                                    <div class="col-sm-12 mb-5">
                                        <hr />
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-4">
                                            <label asp-for="JornadaId" class="form-label"></label> <label id="asterisco">*</label>
                                            <select disabled asp-for="JornadaId" class="form-control" name="jornada" id="jornada" asp-items="ViewBag.listaJornadas" required>
                                                <option value="">Seleccione la jornada</option>
                                            </select>
                                            <span asp-validation-for="JornadaId" class="text-danger error"></span>
                                        </div>
                                    </div>*@
                                    <div class="col-7">
                                        <h2 class="fs-title">Información del padrino:</h2>
                                    </div>
                                    <div class="col-sm-12 mb-5">
                                        <hr />
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-5">
                                            <label asp-for="PadrinoId" class="control-label"></label> <label id="asterisco">*</label>
                                            <select disabled asp-for="PadrinoId" class="form-control" name="padrino" id="padrino" asp-items="ViewBag.listaPadrinos" required>
                                                <option value="">Seleccione padrino</option>
                                            </select>
                                            <span asp-validation-for="PadrinoId" class="text-danger error"></span>
                                        </div>
                                        <div class="form-group col-sm-5">
                                            <label asp-for="AporteEconomicoPadrino" class="control-label"></label>
                                            <input readonly asp-for="AporteEconomicoPadrino" name="aportePadrino" id="aportePadrino" class="form-control" />
                                            <span asp-validation-for="AporteEconomicoPadrino" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-10 text-end">
                                        <button type="button" class="btn btn-secondary" onclick="stepperForm.previous()">Atras</button>
                                        <button type="button" class="btn btn-success ml-5" onclick="stepperForm.next()">Siguiente</button>
                                    </div>
                                </form>
                            </div>

                            <!-------------------------- step 3 ---------------------------->

                            <div id="info-familiar" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                                <form action="/" method="post" id="form-familiar">
                                    <div class="col-7 mt-3">
                                        <h2 class="fs-title">Información de la madre:</h2>
                                    </div>
                                    <div class="col-sm-12 mb-5">
                                        <hr />
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-4">
                                            <label asp-for="NombreMadre" class="control-label"></label>
                                            <input disabled asp-for="NombreMadre" class="form-control" rangelength="3,45" name="nombreMa" id="nombreMa" placeholder="Nombres madre" />
                                            <span asp-validation-for="NombreMadre" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="ApellidoMadre" class="control-label"></label>
                                            <input disabled asp-for="ApellidoMadre" class="form-control" rangelength="3,45" name="apellidoMa" id="apellidoMa" placeholder="Ingrese los apellidos" />
                                            <span asp-validation-for="ApellidoMadre" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="NumeroDocumentoMadre" class="control-label"></label>
                                            <input disabled asp-for="NumeroDocumentoMadre" class="form-control" name="numDocMa" id="numDocMa" placeholder="Ingrese la cédula" />
                                            <span asp-validation-for="NumeroDocumentoMadre" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">

                                        <div class="form-group col-sm-4">
                                            <label asp-for="LugarExpedicionDocumentoMadre" class="control-label"></label>
                                            <input disabled asp-for="LugarExpedicionDocumentoMadre" class="form-control" rangelength="3,45" name="lugExpMa" id="lugExpMa" placeholder="Ingrese el lugar de expedición" />
                                            <span asp-validation-for="LugarExpedicionDocumentoMadre" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="OcupacionMadre" class="control-label"></label>
                                            <input disabled asp-for="OcupacionMadre" class="form-control" rangelength="3,45" name="ocupacionMa" id="ocupacionMa" placeholder="Ingrese la ocupación" />
                                            <span asp-validation-for="OcupacionMadre" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="TelefonoMadre" class="control-label"></label>
                                            <input disabled asp-for="TelefonoMadre" name="telefonoMa" id="telefonoMa" class="form-control" placeholder="Ingrese el número de teléfono" />
                                            <span asp-validation-for="TelefonoMadre" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-4">
                                            <label asp-for="DireccionMadre" class="control-label"></label>
                                            <input disabled asp-for="DireccionMadre" class="form-control" rangelength="3,45" name="direccionMa" id="direccionMa" placeholder="Ingrese la dirección" />
                                            <span asp-validation-for="DireccionMadre" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="BarrioMadre" class="control-label"></label>
                                            <input disabled asp-for="BarrioMadre" class="form-control" rangelength="3,45" name="barrioMa" id="barrioMa" placeholder="Ingrese el barrio" />
                                            <span asp-validation-for="BarrioMadre" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="MunicipioMadre" class="control-label"></label>
                                            <input disabled asp-for="MunicipioMadre" class="form-control" rangelength="3,45" name="municipioMa" id="municipioMa" placeholder="Ingrese el municipio" />
                                            <span asp-validation-for="MunicipioMadre" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-5">
                                            <label asp-for="NivelEscolaridadMadre" class="control-label"></label>
                                            <input disabled asp-for="NivelEscolaridadMadre" name="escolaridadMa" id="escolaridadMa" class="form-control" placeholder="Ingrese el nivel de escolaridad" />
                                            <span asp-validation-for="NivelEscolaridadMadre" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-5">
                                            <label asp-for="IngresoEconomicoMadre" class="control-label"></label>
                                            <input disabled asp-for="IngresoEconomicoMadre" name="IngresoEcoMa" id="IngresoEcoMa" class="form-control" />
                                            <span asp-validation-for="IngresoEconomicoMadre" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-7">
                                        <h2 class="fs-title">Información del padre:</h2>
                                    </div>
                                    <div class="col-sm-12 mb-5">
                                        <hr />
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-4">
                                            <label asp-for="NombrePadre" class="control-label"></label>
                                            <input disabled asp-for="NombrePadre" class="form-control" rangelength="3,45" name="nombrePa" id="nombrePa" placeholder="Ingrese los nombres" />
                                            <span asp-validation-for="NombrePadre" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="ApellidoPadre" class="control-label"></label>
                                            <input disabled asp-for="ApellidoPadre" class="form-control" rangelength="3,45" name="apellidoPa" id="apellidoPa" placeholder="Ingrese los apellidos" />
                                            <span asp-validation-for="ApellidoPadre" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="NumeroDocumentoPadre" class="control-label"></label>
                                            <input disabled asp-for="NumeroDocumentoPadre" name="numDocPa" id="numDocPa" class="form-control" placeholder="Ingrese la cédula" />
                                            <span asp-validation-for="NumeroDocumentoPadre" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">

                                        <div class="form-group col-sm-4">
                                            <label asp-for="LugarExpedicionDocumentoPadre" class="control-label"></label>
                                            <input disabled asp-for="LugarExpedicionDocumentoPadre" class="form-control" rangelength="3,45" name="lugExpPa" id="lugExpPa" placeholder="Ingrese el lugar de expedición" />
                                            <span asp-validation-for="LugarExpedicionDocumentoPadre" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="OcupacionPadre" class="control-label"></label>
                                            <input disabled asp-for="OcupacionPadre" class="form-control" rangelength="3,45" name="ocupacionPa" id="ocupacionPa" placeholder="Ingrese la ocupación" />
                                            <span asp-validation-for="OcupacionPadre" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="TelefonoPadre" class="control-label"></label>
                                            <input disabled asp-for="TelefonoPadre" name="telefonoPa" id="telefonoPa" class="form-control" placeholder="Ingrese el número de teléfono" />
                                            <span asp-validation-for="TelefonoPadre" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-4">
                                            <label asp-for="DireccionPadre" class="control-label"></label>
                                            <input disabled asp-for="DireccionPadre" class="form-control" rangelength="3,45" name="direccionPa" id="direccionPa" placeholder="Ingrese la dirección" />
                                            <span asp-validation-for="DireccionPadre" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="BarrioPadre" class="control-label"></label>
                                            <input disabled asp-for="BarrioPadre" class="form-control" rangelength="3,45" name="barrioPa" id="barrioPa" placeholder="Ingrese el barrio" />
                                            <span asp-validation-for="BarrioPadre" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="MunicipioPadre" class="control-label"></label>
                                            <input disabled asp-for="MunicipioPadre" class="form-control" rangelength="3,45" name="municipioPa" id="municipioPa" placeholder="Ingrese el municipio" />
                                            <span asp-validation-for="MunicipioPadre" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-5">
                                            <label asp-for="NivelEscolaridadPadre" class="control-label"></label>
                                            <input disabled asp-for="NivelEscolaridadPadre" name="escolaridadPa" id="escolaridadPa" class="form-control" placeholder="Ingrese el nivel de escolaridad" />
                                            <span asp-validation-for="NivelEscolaridadPadre" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-5">
                                            <label asp-for="IngresoEconomicoPadre" class="control-label"></label>
                                            <input disabled asp-for="IngresoEconomicoPadre" name="ingresoEcoPa" id="ingresoEcoPa" class="form-control" />
                                            <span asp-validation-for="IngresoEconomicoPadre" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-7">
                                        <h2 class="fs-title">Información del acudiente:</h2>
                                    </div>
                                    <div class="col-sm-12 mb-5">
                                        <hr />
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-4">
                                            <label asp-for="NombreAcudiente" class="control-label"></label>
                                            <input disabled asp-for="NombreAcudiente" class="form-control" rangelength="3,45" name="nombreAcu" id="nombreAcu" placeholder="Ingrese el nombre completo" />
                                            <span asp-validation-for="NombreAcudiente" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="ApellidoAcudiente" class="control-label"></label>
                                            <input disabled asp-for="ApellidoAcudiente" class="form-control" rangelength="3,45" name="apellidoAcu" id="apellidoAcu" placeholder="Ingrese los apellidos del acudiente" />
                                            <span asp-validation-for="ApellidoAcudiente" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="NumeroDocumentoAcudiente" class="control-label"></label>
                                            <input disabled asp-for="NumeroDocumentoAcudiente" name="numDocAcu" id="numDocAcu" class="form-control" placeholder="Ingrese la cédula del acudiente" />
                                            <span asp-validation-for="NumeroDocumentoAcudiente" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">

                                        <div class="form-group col-sm-4">
                                            <label asp-for="LugarExpedicionDocumentoAcudiente" class="control-label"></label>
                                            <input disabled asp-for="LugarExpedicionDocumentoAcudiente" class="form-control" rangelength="3,45" name="lugExpAcu" id="lugExpAcu" placeholder="Ingrese el lugar de expedición" />
                                            <span asp-validation-for="LugarExpedicionDocumentoAcudiente" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="OcupacionAcudiente" class="control-label"></label>
                                            <input disabled asp-for="OcupacionAcudiente" class="form-control" rangelength="3,45" name="ocupacionAcu" id="ocupacionAcu" placeholder="Ingrese la ocupación" />
                                            <span asp-validation-for="OcupacionAcudiente" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="TelefonoAcudiente" class="control-label"></label>
                                            <input disabled asp-for="TelefonoAcudiente" name="telefonoAcu" id="telefonoAcu" class="form-control" placeholder="Ingrese el teléfono" />
                                            <span asp-validation-for="TelefonoAcudiente" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-4">
                                            <label asp-for="DireccionAcudiente" class="control-label"></label>
                                            <input disabled asp-for="DireccionAcudiente" class="form-control" rangelength="3,45" name="direccionAcu" id="direccionAcu" placeholder="Ingrese la dirección" />
                                            <span asp-validation-for="DireccionAcudiente" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="BarrioAcudiente" class="control-label"></label>
                                            <input disabled asp-for="BarrioAcudiente" class="form-control" rangelength="3,45" name="barrioAcu" id="barrioAcu" placeholder="Ingrese el barrio" />
                                            <span asp-validation-for="BarrioAcudiente" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="MunicipioAcudiente" class="control-label"></label>
                                            <input disabled asp-for="MunicipioAcudiente" class="form-control" rangelength="3,45" name="municipioAcu" id="municipioAcu" placeholder="Ingrese el municipio" />
                                            <span asp-validation-for="MunicipioAcudiente" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-5">
                                            <label asp-for="NivelEscolaridadAcudiente" class="control-label"></label>
                                            <input disabled asp-for="NivelEscolaridadAcudiente" name="escolaridadAcu" id="escolaridadAcu" class="form-control" />
                                            <span asp-validation-for="NivelEscolaridadAcudiente" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-5">
                                            <label asp-for="IngresoEconomicoAcudiente" class="control-label"></label>
                                            <input disabled asp-for="IngresoEconomicoAcudiente" name="IngresoEcoAcu" id="IngresoEcoAcu" class="form-control" />
                                            <span asp-validation-for="IngresoEconomicoAcudiente" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-10 text-end">
                                        <button type="button" class="btn btn-secondary" onclick="stepperForm.previous()">Atras</button>
                                        <button type="button" class="btn btn-success ml-5" onclick="stepperForm.next()">Siguiente</button>
                                    </div>
                                </form>
                            </div>

                            <!-------------------------- step 4 ---------------------------->

                            <div id="info-final" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                                <form action="/" method="post" id="form-final">
                                    <div class="col-7 mt-3">
                                        <h2 class="fs-title">Documentación:</h2>
                                    </div>
                                    <div class="col-sm-12 mb-5">
                                        <hr />
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label" for="customFile">Agregar documentos:</label>
                                            <br />
                                            <input type="file" class="form-control pl-0" id="cargar" multiple />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 ml-0">

                                        <label class="form-label">Foto del niño: </label>
                                        <div class="ml-2 col-sm-6 mb-3">
                                            <img src="@("~/image/" + Model.NombreImagen)" asp-append-version="true" width="250" height="250" />
                                        </div>

                                    </div>
                                    
                                    <div class="col-7 mt-3">
                                        <h2 class="fs-title">Información final:</h2>
                                    </div>
                                    <div class="col-sm-12 mb-5">
                                        <hr />
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-6">
                                            <label asp-for="FechaRegistro" class="control-label"></label> <label id="asterisco">*</label>
                                            <input readonly asp-for="FechaRegistro" type="date" class="form-control" name="fechaReg" id="fechaReg" required />
                                            <span asp-validation-for="FechaRegistro" class="text-danger error"></span>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label asp-for="EstadoId" class="control-label"></label> <label id="asterisco">*</label>
                                            <select disabled asp-for="EstadoId" name="estado" id="estado" class="form-control" asp-items="ViewBag.listaEstados" required>
                                                <option value="">Seleccione estado</option>
                                            </select>
                                            <span asp-validation-for="EstadoId" class="text-danger error"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 d-flex justify-content-around">
                                        <button type="button" class="btn btn-danger" id="btn-cancelar">Cancelar</button>
                                        <button type="button" class="btn btn-secondary" onclick="stepperForm.previous()">Atras</button>
                                        <a class="btn btn-success" asp-controller="Preinscripcion" asp-action="Edit" asp-route-id="@Model.PreinscripcionId">Ir a actualizar beneficiario</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-wrapper -->

@section Scripts {

    <script src="~/lib/bs-stepper/bs-stepper.min.js"></script>

    <script>

        /*--------------------------------- ANIMACIÓN DEL WIZAR ---------------------------*/
        var stepperForm

        var stepperFormEl = document.querySelector('#form-beneficiario')
        stepperForm = new Stepper(stepperFormEl, {
            animation: true,
            linear: false
        })

        /*--------------------------------- BOTON CANCELAR ---------------------------*/

        document.getElementById("btn-cancelar").addEventListener("click", function (event) {
            window.location.href = '@Url.Action("Index", "Preinscripcion")';
        });        

    </script>

}


