@model Avansist.Services.DTOs.PreinscripcionDto

@{
    ViewData["Title"] = "Edit";
}

@section Style {

    <link href="~/css/AggBeneficiario.css" rel="stylesheet" />
    <link href="~/lib/bs-stepper/bs-stepper.min.css" rel="stylesheet" />
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header pb-0">
        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col-sm-6">
                    <ul id="List"> <li class="heading" style="list-style: none; font-size: 25px" id="IconList"> Editar beneficiario</li></ul>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="">Inicio</a></li>
                        <li class="breadcrumb-item active">Preinscripción</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 mx-auto p-2">
                <div class="card mt-0 mb-3">
                    
                    <div class="bs-stepper" id="form-beneficiario">
                        <div class="bs-stepper-header pt-2" role="tablist">
                            <!-- your steps here -->
                            <div class="step" data-target="#info-nino">
                                <button type="button" class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
                                    <span class="bs-stepper-circle">1</span>
                                    <span class="bs-stepper-label">Datos Básicos</span>
                                </button>
                            </div>
                            <div class="line"></div>
                            <div class="step" data-target="#info-complementaria">
                                <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                                    <span class="bs-stepper-circle">2</span>
                                    <span class="bs-stepper-label">Datos Complementarios</span>
                                </button>
                            </div>
                            <div class="line"></div>
                            <div class="step" data-target="#info-familiar">
                                <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                                    <span class="bs-stepper-circle">3</span>
                                    <span class="bs-stepper-label">Información Familiar</span>
                                </button>
                            </div>
                            <div class="line"></div>
                            <div class="step" data-target="#info-final">
                                <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
                                    <span class="bs-stepper-circle">4</span>
                                    <span class="bs-stepper-label">Documentación</span>
                                </button>
                            </div>
                        </div>
                        <div class="bs-stepper-content">
                            <!-- your steps content here -->
                            <!-------------------------- step 1 ---------------------------->

                            <div id="info-nino" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                                <form action="/" method="post" id="form-general">
                                    <div class="col-7 mt-3">
                                        <h2 class="fs-title">Información del niño(a):</h2>
                                    </div>
                                    <div class="col-sm-12 mb-5">
                                        <hr />
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-4">
                                            <label asp-for="PrimerNombreBeneficiario" class="control-label"></label> <label id="asterisco">*</label>
                                            <input asp-for="PrimerNombreBeneficiario" class="form-control" rangelength="3,45" type="text" name="primerNomB" id="primerNomB" placeholder="Ingrese el primer nombre" required />
                                            <span asp-validation-for="PrimerNombreBeneficiario" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="SegundoNombreBeneficiario" class="control-label"></label>
                                            <input asp-for="SegundoNombreBeneficiario" class="form-control" rangelength="3,45" type="text" name="segundoNomB" id="segundoNomB" placeholder="Ingrese el segundo nombre" />
                                            <span asp-validation-for="SegundoNombreBeneficiario" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="PrimerApellidoBeneficiario" class="control-label"></label> <label id="asterisco">*</label>
                                            <input asp-for="PrimerApellidoBeneficiario" class="form-control" rangelength="3,45" type="text" name="primerApeB" id="primerApeB" placeholder="Ingrese el primer apellido" required />
                                            <span asp-validation-for="PrimerApellidoBeneficiario" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-4">
                                            <label asp-for="SegundoApellidoBeneficiario" class="control-label"></label> <label id="asterisco">*</label>
                                            <input asp-for="SegundoApellidoBeneficiario" class="form-control" rangelength="3,45" type="text" name="segundoApeB" id="segundoApeB" placeholder="Ingrese el segundo apellido" required />
                                            <span asp-validation-for="SegundoApellidoBeneficiario" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="FechaNacimiento" class="control-label"></label>  <label id="asterisco">*</label>
                                            <input asp-for="FechaNacimiento" class="form-control" type="date" name="fechaNac" id="fechaNac" required />
                                            <span asp-validation-for="FechaNacimiento" class="text-danger error"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="Edad" class="control-label"></label> <label id="asterisco">*</label>
                                            <input readonly asp-for="Edad" class="form-control" maxlength="2" type="text" name="edad" id="edad" required />
                                            <span asp-validation-for="Edad" class="text-danger error"></span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-4">
                                            <label asp-for="LugarNacimiento" class="control-label"></label> <label id="asterisco">*</label>
                                            <select asp-for="LugarNacimiento" class="form-control" name="lugNaci" id="lugNaci" required>
                                                <option value="">Seleccionar</option>
                                            </select>
                                            <span asp-validation-for="LugarNacimiento" class="text-danger error"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="TipoDocumentoId" class="control-label"></label>  <label id="asterisco">*</label>
                                            <select asp-for="TipoDocumentoId" class="form-control" name="tipoDocumento" id="tipoDocumento" asp-items="ViewBag.listaTipoDocumentos" required>
                                                <option value="">Seleccione el documento</option>
                                            </select>
                                            <span asp-validation-for="TipoDocumentoId" class="text-danger error"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="NumeroDocumento" class="control-label"></label> <label id="asterisco">*</label>
                                            <input asp-for="NumeroDocumento" class="form-control" type="text" name="numDoc" id="numDoc" placeholder="Ingrese el n° de documento" required />
                                            <span asp-validation-for="NumeroDocumento" class="text-danger error">@ViewData["errorDoc"]</span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-4">
                                            <label asp-for="LugarExpedicionDocumento" class="form-label"></label> <label id="asterisco">*</label>
                                            <select asp-for="LugarExpedicionDocumento" class="form-control" name="expedido" id="expedido" required>
                                                <option value="">Seleccionar</option>
                                            </select>
                                            <span asp-validation-for="LugarExpedicionDocumento" class="text-danger error"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="ModalidadId" class="control-label"></label> <label id="asterisco">*</label>
                                            <select asp-for="ModalidadId" name="modalidad" id="modalidad" class="form-control" asp-items="ViewBag.listaModalidads" required>
                                                <option value="">Seleccione la modalidad</option>
                                            </select>
                                            <span asp-validation-for="ModalidadId" class="text-danger error"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="CustodiaBeneficiario" class="form-label"></label> <label id="asterisco">*</label>
                                            <select asp-for="CustodiaBeneficiario" class="form-control" name="custodiaBeneficiario" id="custodiaBeneficiario" required>
                                                <option value="">Seleccionar</option>
                                            </select>
                                            <span asp-validation-for="CustodiaBeneficiario" class="text-danger error"></span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-4">
                                            <label asp-for="DireccionResidencia" class="form-label"></label> <label id="asterisco">*</label>
                                            <input asp-for="DireccionResidencia" class="form-control" rangelength="3,45" type="text" name="direccion" id="direccion" placeholder="Ingrese la dirección de residencia" required />
                                            <span asp-validation-for="DireccionResidencia" class="text-danger error"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="Municipio" class="control-label"></label> <label id="asterisco">*</label>
                                            <select asp-for="Municipio" class="form-control" name="municipio" id="municipio" required>
                                                <option value="">Seleccionar</option>
                                            </select>
                                            <span asp-validation-for="LugarNacimiento" class="text-danger error"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="EtniaId" class="control-label"></label> <label id="asterisco">*</label>
                                            <select asp-for="EtniaId" name="etnia" id="etnia" class="form-control" asp-items="ViewBag.listaEtnias" required>
                                                <option value="">Seleccione la etnia</option>
                                            </select>
                                            <span asp-validation-for="EtniaId" class="text-danger error"></span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-3">
                                            <label asp-for="GeneroId" class="control-label"></label> <label id="asterisco">*</label>
                                            <select asp-for="GeneroId" class="form-control" id="genero" name="genero" asp-items="ViewBag.listaGeneros" required>
                                                <option value="">Seleccione Genero</option>
                                            </select>
                                            <span asp-validation-for="GeneroId" class="text-danger error"></span>
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <label asp-for="TallaCamisa" class="control-label"></label>
                                            <select asp-for="TallaCamisa" class="form-control" name="tallaCamisa" id="tallaCamisa">
                                                <option value="">Seleccionar</option>
                                            </select>
                                            <span asp-validation-for="TallaCamisa" class="text-danger error"></span>
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <label asp-for="TallaPantalon" class="control-label"></label>
                                            <select asp-for="TallaPantalon" class="form-control" name="tallaPantalon" id="tallaPantalon">
                                                <option value="">Seleccionar</option>
                                            </select>
                                            <span asp-validation-for="TallaPantalon" class="text-danger error"></span>
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <label asp-for="TallaZapatos" class="control-label"></label>
                                            <select asp-for="TallaZapatos" class="form-control" name="tallaZapatos" id="tallaZapatos">
                                                <option value="">Seleccionar</option>
                                            </select>
                                            <span asp-validation-for="TallaZapatos" class="text-danger error"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-10 text-right">
                                        <button type="button" class="btn btn-success btn-next-form">Siguiente</button>
                                    </div>
                                </form>
                            </div>

                            <!-------------------------- step 2 ---------------------------->

                            <div id="info-complementaria" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                                <form action="/" method="post" id="form-complementaria">
                                    <div class="col-7 mt-3">
                                        <h2 class="fs-title">Información medica:</h2>
                                    </div>
                                    <div class="col-sm-12 mb-5">
                                        <hr />
                                    </div>
                                    <div class="mt-5 d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-4">
                                            <label asp-for="NombreEps" class="form-label"></label> <label id="asterisco"></label>
                                            <select asp-for="NombreEps" class="form-control" name="nombreEps" id="nombreEps">
                                                <option value="">Seleccionar</option>
                                            </select>
                                            <span asp-validation-for="NombreEps" class="text-danger error"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="GrupoSanguineoId" class="control-label"></label> <label id="asterisco">*</label>
                                            <select asp-for="GrupoSanguineoId" class="form-control" name="factorRh" id="factorRh" asp-items="ViewBag.listaGrupoSanguineos" required>
                                                <option value="">Seleccione el RH</option>
                                            </select>
                                            <span asp-validation-for="GrupoSanguineoId" class="text-danger error"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="GrupoSisben" class="form-label"></label> <label id="asterisco"></label>
                                            <select asp-for="GrupoSisben" class="form-control" name="grupoSisben" id="grupoSisben">
                                                <option value="">Seleccionar</option>
                                            </select>
                                            <span asp-validation-for="GrupoSisben" class="text-danger error"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 d-flex justify-content-around mb-4">
                                        <div class="form-group form-check col-sm-6">
                                            <input type="hidden" name="hiddenAnteMedic" id="hiddenAnteMedic" />
                                            <label asp-for="AntecedenteMedico" class="form-check-label">
                                                <input asp-for="AntecedenteMedico" class="form-check-input" name="antecedenteMedico" id="antecedenteMedico" />
                                                @Html.DisplayNameFor(model => model.AntecedenteMedico)
                                            </label>
                                        </div>
                                        <div class="form-group form-check col-sm-6" style="padding-left: 115px">
                                            <input type="hidden" name="hiddenAntePsico" id="hiddenAntePsico" />
                                            <label asp-for="AntecedentePsicologico" class="form-check-label">
                                                <input asp-for="AntecedentePsicologico" class="form-check-input" name="antecedentePsicologico" id="antecedentePsicologico" />
                                                @Html.DisplayNameFor(model => model.AntecedentePsicologico)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-5">
                                            <label asp-for="DescripcionEnfermedad" class="control-labe"></label>
                                            <textarea asp-for="DescripcionEnfermedad" class="form-control" name="descripcionEnfermedad" id="descripcionEnfermedad" cols="30" rows="2"></textarea>
                                        </div>
                                        <div class="form-group col-sm-5">
                                            <label asp-for="DescripcionPsicologica" class="control-label"></label>
                                            <textarea asp-for="DescripcionPsicologica" class="form-control" name="descripcionPsicologica" id="descripcionPsicologica" cols="30" rows="2"></textarea>
                                        </div>
                                    </div>

                                    @*<div class="col-7">
                    <h2 class="fs-title">Información Educativa:</h2>
                </div>
                <div class="col-sm-12 mb-5">
                    <hr />
                </div>*@
                                    <div class="mb-4">
                                        <div class="form-group col-sm-4" style="display: none">
                                            <label asp-for="JornadaId" class="form-label"></label> <label id="asterisco">*</label>
                                            <select asp-for="JornadaId" class="form-control" name="jornada" id="jornada" asp-items="ViewBag.listaJornadas" required>
                                                <option value="">Seleccione la jornada</option>
                                            </select>
                                            <span asp-validation-for="JornadaId" class="text-danger error"></span>
                                        </div>
                                    </div>

                                    <div class="col-7">
                                        <h2 class="fs-title">Información del padrino:</h2>
                                    </div>
                                    <div class="col-sm-12 mb-5">
                                        <hr />
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-5">
                                            <label asp-for="PadrinoId" class="control-label"></label> <label id="asterisco">*</label>
                                            <select asp-for="PadrinoId" class="form-control" name="padrino" id="padrino" asp-items="ViewBag.listaPadrinos" required>
                                                <option value="">Seleccione padrino</option>
                                            </select>
                                            <span asp-validation-for="PadrinoId" class="text-danger error"></span>
                                        </div>
                                        <div class="form-group col-sm-5">
                                            <label asp-for="AporteEconomicoPadrino" class="control-label"></label>
                                            <input asp-for="AporteEconomicoPadrino" name="aportePadrino" id="aportePadrino" class="form-control" />
                                            <span asp-validation-for="AporteEconomicoPadrino" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-10 text-end">
                                        <button type="button" class="btn btn-secondary" onclick="stepperForm.previous()">Atras</button>
                                        <button type="button" class="btn btn-success ml-5 btn-next-form">Siguiente</button>
                                    </div>
                                </form>
                            </div>

                            <!-------------------------- step 3 ---------------------------->

                            <div id="info-familiar" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                                <form action="/" method="post" id="form-familiar">
                                    <div class="col-7 mt-3">
                                        <h2 class="fs-title">Información de la madre:</h2>
                                    </div>
                                    <div class="col-sm-12 mb-5">
                                        <hr />
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-4">
                                            <label asp-for="NombreMadre" class="control-label"></label>
                                            <input asp-for="NombreMadre" class="form-control" rangelength="3,45" name="nombreMa" id="nombreMa" placeholder="Nombres madre" />
                                            <span asp-validation-for="NombreMadre" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="ApellidoMadre" class="control-label"></label>
                                            <input asp-for="ApellidoMadre" class="form-control" rangelength="3,45" name="apellidoMa" id="apellidoMa" placeholder="Ingrese los apellidos" />
                                            <span asp-validation-for="ApellidoMadre" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="NumeroDocumentoMadre" class="control-label"></label>
                                            <input asp-for="NumeroDocumentoMadre" class="form-control" name="numDocMa" id="numDocMa" placeholder="Ingrese la cédula" />
                                            <span asp-validation-for="NumeroDocumentoMadre" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-4">
                                            <label asp-for="LugarExpedicionDocumentoMadre" class="form-label"></label> <label id="asterisco"></label>
                                            <select asp-for="LugarExpedicionDocumentoMadre" class="form-control" name="lugExpMa" id="lugExpMa">
                                                <option value="">Seleccionar</option>
                                            </select>
                                            <span asp-validation-for="LugarExpedicionDocumentoMadre" class="text-danger error"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="OcupacionMadre" class="control-label"></label>
                                            <input asp-for="OcupacionMadre" class="form-control" rangelength="3,45" name="ocupacionMa" id="ocupacionMa" placeholder="Ingrese la ocupación" />
                                            <span asp-validation-for="OcupacionMadre" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="TelefonoMadre" class="control-label"></label>
                                            <input asp-for="TelefonoMadre" name="telefonoMa" id="telefonoMa" class="form-control" placeholder="Ingrese el número de teléfono" />
                                            <span asp-validation-for="TelefonoMadre" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-4">
                                            <label asp-for="DireccionMadre" class="control-label"></label>
                                            <input asp-for="DireccionMadre" class="form-control" rangelength="3,45" name="direccionMa" id="direccionMa" placeholder="Ingrese la dirección" />
                                            <span asp-validation-for="DireccionMadre" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="BarrioMadre" class="control-label"></label>
                                            <input asp-for="BarrioMadre" class="form-control" rangelength="3,45" name="barrioMa" id="barrioMa" placeholder="Ingrese el barrio" />
                                            <span asp-validation-for="BarrioMadre" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="MunicipioMadre" class="form-label"></label> <label id="asterisco"></label>
                                            <select asp-for="MunicipioMadre" class="form-control" name="municipioMa" id="municipioMa">
                                                <option value="">Seleccionar</option>
                                            </select>
                                            <span asp-validation-for="MunicipioMadre" class="text-danger error"></span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-5">
                                            <label asp-for="NivelEscolaridadMadre" class="form-label"></label> <label id="asterisco"></label>
                                            <select asp-for="NivelEscolaridadMadre" class="form-control" name="escolaridadMa" id="escolaridadMa">
                                                <option value="">Seleccionar</option>
                                            </select>
                                            <span asp-validation-for="NivelEscolaridadMadre" class="text-danger error"></span>
                                        </div>
                                        <div class="form-group col-sm-5">
                                            <label asp-for="IngresoEconomicoMadre" class="control-label"></label>
                                            <input asp-for="IngresoEconomicoMadre" name="IngresoEcoMa" id="ingresoEcoMa" class="form-control" />
                                            <span asp-validation-for="IngresoEconomicoMadre" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-7">
                                        <h2 class="fs-title">Información del padre:</h2>
                                    </div>
                                    <div class="col-sm-12 mb-5">
                                        <hr />
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-4">
                                            <label asp-for="NombrePadre" class="control-label"></label>
                                            <input asp-for="NombrePadre" class="form-control" rangelength="3,45" name="nombrePa" id="nombrePa" placeholder="Ingrese los nombres" />
                                            <span asp-validation-for="NombrePadre" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="ApellidoPadre" class="control-label"></label>
                                            <input asp-for="ApellidoPadre" class="form-control" rangelength="3,45" name="apellidoPa" id="apellidoPa" placeholder="Ingrese los apellidos" />
                                            <span asp-validation-for="ApellidoPadre" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="NumeroDocumentoPadre" class="control-label"></label>
                                            <input asp-for="NumeroDocumentoPadre" name="numDocPa" id="numDocPa" class="form-control" placeholder="Ingrese la cédula" />
                                            <span asp-validation-for="NumeroDocumentoPadre" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-5">
                                            <label asp-for="LugarExpedicionDocumentoPadre" class="form-label"></label> <label id="asterisco"></label>
                                            <select asp-for="LugarExpedicionDocumentoPadre" class="form-control" name="lugExpPa" id="lugExpPa">
                                                <option value="">Seleccionar</option>
                                            </select>
                                            <span asp-validation-for="LugarExpedicionDocumentoPadre" class="text-danger error"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="OcupacionPadre" class="control-label"></label>
                                            <input asp-for="OcupacionPadre" class="form-control" rangelength="3,45" name="ocupacionPa" id="ocupacionPa" placeholder="Ingrese la ocupación" />
                                            <span asp-validation-for="OcupacionPadre" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="TelefonoPadre" class="control-label"></label>
                                            <input asp-for="TelefonoPadre" name="telefonoPa" id="telefonoPa" class="form-control" placeholder="Ingrese el número de teléfono" />
                                            <span asp-validation-for="TelefonoPadre" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-4">
                                            <label asp-for="DireccionPadre" class="control-label"></label>
                                            <input asp-for="DireccionPadre" class="form-control" rangelength="3,45" name="direccionPa" id="direccionPa" placeholder="Ingrese la dirección" />
                                            <span asp-validation-for="DireccionPadre" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="BarrioPadre" class="control-label"></label>
                                            <input asp-for="BarrioPadre" class="form-control" rangelength="3,45" name="barrioPa" id="barrioPa" placeholder="Ingrese el barrio" />
                                            <span asp-validation-for="BarrioPadre" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="MunicipioPadre" class="form-label"></label> <label id="asterisco"></label>
                                            <select asp-for="MunicipioPadre" class="form-control" name="municipioPa" id="municipioPa">
                                                <option value="">Seleccionar</option>
                                            </select>
                                            <span asp-validation-for="MunicipioPadre" class="text-danger error"></span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-5">
                                            <label asp-for="NivelEscolaridadPadre" class="form-label"></label> <label id="asterisco"></label>
                                            <select asp-for="NivelEscolaridadPadre" class="form-control" name="escolaridadPa" id="escolaridadPa">
                                                <option value="">Seleccionar</option>
                                            </select>
                                            <span asp-validation-for="NivelEscolaridadPadre" class="text-danger error"></span>
                                        </div>
                                        <div class="form-group col-sm-5">
                                            <label asp-for="IngresoEconomicoPadre" class="control-label"></label>
                                            <input asp-for="IngresoEconomicoPadre" name="ingresoEcoPa" id="ingresoEcoPa" class="form-control" />
                                            <span asp-validation-for="IngresoEconomicoPadre" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-7">
                                        <h2 class="fs-title">Información del acudiente:</h2>
                                    </div>
                                    <div class="col-sm-12 mb-5">
                                        <hr />
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-4">
                                            <label asp-for="NombreAcudiente" class="control-label"></label>
                                            <input asp-for="NombreAcudiente" class="form-control" rangelength="3,45" name="nombreAcu" id="nombreAcu" placeholder="Ingrese el nombre completo" />
                                            <span asp-validation-for="NombreAcudiente" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="ApellidoAcudiente" class="control-label"></label>
                                            <input asp-for="ApellidoAcudiente" class="form-control" rangelength="3,45" name="apellidoAcu" id="apellidoAcu" placeholder="Ingrese los apellidos del acudiente" />
                                            <span asp-validation-for="ApellidoAcudiente" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="NumeroDocumentoAcudiente" class="control-label"></label>
                                            <input asp-for="NumeroDocumentoAcudiente" name="numDocAcu" id="numDocAcu" class="form-control" placeholder="Ingrese la cédula del acudiente" />
                                            <span asp-validation-for="NumeroDocumentoAcudiente" class="text-danger"></span>
                                        </div>

                                    </div>
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-4">
                                            <label asp-for="LugarExpedicionDocumentoAcudiente" class="control-label"></label>
                                            <input asp-for="LugarExpedicionDocumentoAcudiente" class="form-control" rangelength="3,45" name="lugExpAcu" id="lugExpAcu" placeholder="Ingrese el lugar de expedición" />
                                            <span asp-validation-for="LugarExpedicionDocumentoAcudiente" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="OcupacionAcudiente" class="control-label"></label>
                                            <input asp-for="OcupacionAcudiente" class="form-control" rangelength="3,45" name="ocupacionAcu" id="ocupacionAcu" placeholder="Ingrese la ocupación" />
                                            <span asp-validation-for="OcupacionAcudiente" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="TelefonoAcudiente" class="control-label"></label>
                                            <input asp-for="TelefonoAcudiente" name="telefonoAcu" id="telefonoAcu" class="form-control" placeholder="Ingrese el teléfono" />
                                            <span asp-validation-for="TelefonoAcudiente" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-4">
                                            <label asp-for="DireccionAcudiente" class="control-label"></label>
                                            <input asp-for="DireccionAcudiente" class="form-control" rangelength="3,45" name="direccionAcu" id="direccionAcu" placeholder="Ingrese la dirección" />
                                            <span asp-validation-for="DireccionAcudiente" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="BarrioAcudiente" class="control-label"></label>
                                            <input asp-for="BarrioAcudiente" class="form-control" rangelength="3,45" name="barrioAcu" id="barrioAcu" placeholder="Ingrese el barrio" />
                                            <span asp-validation-for="BarrioAcudiente" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-4">
                                            <label asp-for="MunicipioAcudiente" class="control-label"></label>
                                            <input asp-for="MunicipioAcudiente" class="form-control" rangelength="3,45" name="municipioAcu" id="municipioAcu" placeholder="Ingrese el municipio" />
                                            <span asp-validation-for="MunicipioAcudiente" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-5">
                                            <label asp-for="NivelEscolaridadAcudiente" class="form-label"></label> <label id="asterisco"></label>
                                            <select asp-for="NivelEscolaridadAcudiente" class="form-control" name="escolaridadAcu" id="escolaridadAcu">
                                                <option value="">Seleccionar</option>
                                            </select>
                                            <span asp-validation-for="NivelEscolaridadAcudiente" class="text-danger error"></span>
                                        </div>
                                        <div class="form-group col-sm-5">
                                            <label asp-for="IngresoEconomicoAcudiente" class="control-label"></label>
                                            <input asp-for="IngresoEconomicoAcudiente" name="IngresoEcoAcu" id="ingresoEcoAcu" class="form-control" />
                                            <span asp-validation-for="IngresoEconomicoAcudiente" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-10 text-end">
                                        <button type="button" class="btn btn-secondary" onclick="stepperForm.previous()">Atras</button>
                                        <button type="button" class="btn btn-success ml-5 btn-next-form">Siguiente</button>
                                    </div>
                                </form>
                            </div>

                            <!-------------------------- step 4 ---------------------------->

                            <div id="info-final" class="content" role="tabpanel" aria-labelledby="information-part-trigger">
                                <form action="/" method="post" id="form-final" enctype="multipart/form-data">
                                    <div class="col-7 mt-3">
                                        <h2 class="fs-title">Documentación y Foto:</h2>
                                    </div>
                                    <div class="col-sm-12 mb-5">
                                        <hr />
                                    </div>

                                    <div class="d-flex justify-content-lg-around mb-4">
                                        <div class="ml-2 col-sm-4 mb-3">
                                            <img src="https://placehold.it/80x80" id="preview" class="img-thumbnail">
                                        </div>
                                        <div class="row">
                                            <div class="col-9">
                                                <img src="@("~/image/" + Model.NombreImagen)" asp-append-version="true" width="250" height="250" />
                                            </div>
                                        </div>
                                        <input type="hidden" asp-for="PreinscripcionId" id="preinscripcionId" />
                                        <input asp-for="NombreImagen" hidden id="NombreImagen" name="NombreImagen" />
                                    </div>

                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="col-sm-6">
                                            <label class="form-label" for="customFile">Agregar documentos:</label>
                                            <div class="form-group my-3">
                                                <input type="file" class="form-control pl-0" id="cargar" multiple />
                                            </div>
                                        </div>
                                        <div class="col-sm-6 ml-0">
                                            <div id="msg"></div>
                                            <div method="post" id="image-form" class="form-group">
                                                <label class="form-label">Foto del niño:</label>
                                                <input type="file" name="img[]" id="imagen" class="file" accept="image/*">
                                                <div class="input-group my-3">
                                                    <input type="text" class="form-control" disabled placeholder="Subir imagen" id="file">
                                                    <div class="input-group-append">
                                                        <button type="button" class="browse btn btn-primary">Cargar...</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-7 mt-3">
                                        <h2 class="fs-title">Información de registro final:</h2>
                                    </div>
                                    <div class="col-sm-12 mb-5">
                                        <hr />
                                    </div>
                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group col-sm-6">
                                            <label asp-for="FechaRegistro" class="control-label"></label> <label id="asterisco">*</label>
                                            <input disabled asp-for="FechaRegistro" type="date" class="form-control" name="fechaReg" id="fechaReg" required />
                                            <span asp-validation-for="FechaRegistro" class="text-danger error"></span>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label asp-for="EstadoId" class="control-label"></label> <label id="asterisco">*</label>
                                            <select asp-for="EstadoId" name="estado" id="estado" class="form-control" asp-items="ViewBag.listaEstados" required>
                                                <option value="">Seleccione estado</option>
                                            </select>
                                            <span asp-validation-for="EstadoId" class="text-danger error"></span>
                                        </div>
                                    </div>

                                    <div class="col-7 mt-3">
                                        <h2 class="fs-title">Autorización, tramite y manejo de datos personales:</h2>
                                    </div>
                                    <div class="col-sm-12 mb-5">
                                        <hr />
                                    </div>

                                    <div class="d-flex justify-content-between mb-4">
                                        <div class="form-group form-check col-sm-6">
                                            <input type="hidden" name="hiddenAutorizacionData" id="hiddenAutorizacionData" />
                                            <label asp-for="AutorizacionData" class="form-check-label">
                                                <input required asp-for="AutorizacionData" class="form-check-input" name="autorizacionData" id="autorizacionData" disabled />
                                                @Html.DisplayNameFor(model => model.AutorizacionData)
                                            </label>
                                            <p>
                                                Sus datos personales han sido y están siendo tratados conforme con nuestra Política de Tratamiento de Datos Personales.
                                                Ley de Protección de Datos Personales: “La autorización suministrada en el presente formulario faculta AVANSIST para
                                                que dé a sus datos aquí recopilados el tratamiento señalado en la “Política de Privacidad para el Tratamiento de Datos
                                                Personales” de AVANSIST, el cual incluye, entre otras, el envío de información promocional, así como la invitación a
                                                eventos. El titular de los datos podrá, en cualquier momento, solicitar que la información sea modificada,
                                                actualizada o retirada de las bases de datos de AVANSIST.
                                            </p>
                                        </div>
                                        <div class="form-group form-check col-sm-6">
                                            <input type="hidden" name="hiddenAutorizacionFoto" id="hiddenAutorizacionFoto" />
                                            <label asp-for="AutorizacionFoto" class="form-check-label">
                                                <input required asp-for="AutorizacionFoto" class="form-check-input" name="autorizacionFoto" id="autorizacionFoto" disabled />
                                                @Html.DisplayNameFor(model => model.AutorizacionFoto)
                                            </label>
                                            <p>
                                                Autorizo AVANSIST, el derecho absoluto y la autorización para usar mi (s)
                                                fotografía (s) , para fines publicitarios de carácter interno o externo. Comprendo que
                                                las fotografías pueden ser utilizadas en una publicación, anuncio impreso, componente de
                                                correo directo, medios electrónicos, valla, pendón, hacking u otro elemento de proyección de la
                                                marca AVANSIST (ejemplo: videos, material multimedia, redes sociales, portal web, banner
                                                electrónicos, entre otros), o cualquier tipo de publicación para promover los servicios de
                                                AVANSIST. Reconozco el derecho de AVANSIST y la autorizó para recortar, alterar, transformar,
                                                modificar, suprimir y editar la fotografía de cualquier manera a discreción exclusiva suya.
                                                También reconozco que AVANSIST podría decidir no usar la fotografía (s) por el momento, pero
                                                podría hacerlo a potestad exclusiva suya en cualquier fecha futura. Convengo en que cederé
                                                derecho a un tercero sobre este material. Así mismo declaro que no tengo derecho a recibir
                                                compensación ni reconocimiento alguno de cualquier tipo, en relación con el uso que la Caja
                                                haga de las fotografías.
                                                Deslindo de responsabilidades AVANSIST, al fotógrafo, a sus directores, funcionarios,
                                                empleados, agentes y personas designadas y convengo en no demandar a los anteriores por
                                                ninguna reclamación, responsabilidad, lesión o pérdida en relación con dicho uso.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-sm-12 d-flex justify-content-around">
                                        <button type="button" class="btn btn-danger" id="btn-cancelar">Cancelar</button>
                                        <button type="button" class="btn btn-secondary" onclick="stepperForm.previous()">Atras</button>
                                        <button type="button" class="btn btn-success" id="btn-actualizar">Actualizar beneficiario</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
            <!-- /.card -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-wrapper -->


@section Scripts {


    <script src="~/lib/bs-stepper/bs-stepper.min.js"></script>

    <script>

        $.ajax({
            type: 'GET',
            URL: '/colombia.json',
            dataType: 'json',
            success: function (data) {
                console.log(data)
            }
        });

        /*--------------------------------- BOTON CANCELAR ---------------------------*/

        document.getElementById("btn-cancelar").addEventListener("click", function (event) {

              Swal.fire({
                  text: 'Volvera a la ventana de preinscripción ¿Desea continuar?',
                  icon: 'question',
                  confirmButtonColor: '#afdb6e',
                  showDenyButton: true,
                  showCancelButton: false,
                  confirmButtonText: 'Si',
                  denyButtonText: 'No',
              }).then((result) => {
                  if (result.isConfirmed) {

                      window.location.href = '@Url.Action("Index", "Preinscripcion")';

                  } else if (result.isDenied) {
                      
                  }
              })
        });

        /*--------------------------------- CALCULAR EDAD ---------------------------*/

        $(function () {
            $('#fechaNac').on('change', calcularEdad);
        });

        function calcularEdad() {

            fecha = $(this).val();
            var hoy = new Date();
            var cumpleanos = new Date(fecha);
            var edad = hoy.getFullYear() - cumpleanos.getFullYear();
            var m = hoy.getMonth() - cumpleanos.getMonth();

            if (m < 0 || (m === 0 && hoy.getDate() <= cumpleanos.getDate())) {
                edad--;
            }

            $('#edad').val(edad);

        }

        /*--------------------------------- VALIDAR FORMULARIO ---------------------------*/

        var stepperForm

        document.addEventListener('DOMContentLoaded', function () {

            $.ajax({
                type: 'GET',
                url: '/municipios.json',
                dataType: 'json',
                success: function (data) {
                    data.map(e => {
                        $("#lugNaci").append('<option value=' + e.municipio + '>' + e.municipio + '</option>');
                    });
                }
            });
            $.ajax({
                type: 'GET',
                url: '/municipios.json',
                dataType: 'json',
                success: function (data) {
                    data.map(e => {
                        $("#expedido").append('<option value=' + e.municipio + '>' + e.municipio + '</option>');
                    });
                }
            });
            $.ajax({
                type: 'GET',
                url: '/municipios.json',
                dataType: 'json',
                success: function (data) {
                    data.map(e => {
                        $("#municipio").append('<option value=' + e.municipio + '>' + e.municipio + '</option>');
                    });
                }
            });
            $.ajax({
                type: 'GET',
                url: '/custodia.json',
                dataType: 'json',
                success: function (data) {
                    data.map(c => {
                        $("#custodiaBeneficiario").append('<option value=' + c.custodia + '>' + c.custodia + '</option>');
                    });
                }
            });
            $.ajax({
                type: 'GET',
                url: '/camiseta.json',
                dataType: 'json',
                success: function (data) {
                    data.map(e => {
                        $("#tallaCamisa").append('<option value=' + e.camiseta + '>' + e.camiseta + '</option>');
                    });
                }
            });
            $.ajax({
                type: 'GET',
                url: '/pantalon.json',
                dataType: 'json',
                success: function (data) {
                    data.map(e => {
                        $("#tallaPantalon").append('<option value=' + e.pantalon + '>' + e.pantalon + '</option>');
                    });
                }
            });
            $.ajax({
                type: 'GET',
                url: '/zapato.json',
                dataType: 'json',
                success: function (data) {
                    data.map(e => {
                        $("#tallaZapatos").append('<option value=' + e.zapato + '>' + e.zapato + '</option>');
                    });
                }
            });
            $.ajax({
                type: 'GET',
                url: '/sisben.json',
                dataType: 'json',
                success: function (data) {
                    data.map(s => {
                        $("#grupoSisben").append('<option value=' + s.sisben + '>' + s.sisben + '</option>');
                    });
                }
            });
            $.ajax({
                type: 'GET',
                url: '/salud.json',
                dataType: 'json',
                success: function (data) {
                    data.map(s => {
                        $("#nombreEps").append('<option value=' + s.salud + '>' + s.salud + '</option>');
                    });
                }
            });
            $.ajax({
                type: 'GET',
                url: '/municipios.json',
                dataType: 'json',
                success: function (data) {
                    data.map(e => {
                        $("#lugExpMa").append('<option value=' + e.municipio + '>' + e.municipio + '</option>');
                    });
                }
            });
            $.ajax({
                type: 'GET',
                url: '/municipios.json',
                dataType: 'json',
                success: function (data) {
                    data.map(e => {
                        $("#municipioMa").append('<option value=' + e.municipio + '>' + e.municipio + '</option>');
                    });
                }
            });
            $.ajax({
                type: 'GET',
                url: '/nivelEscolaridad.json',
                dataType: 'json',
                success: function (data) {
                    data.map(e => {
                        $("#escolaridadMa").append('<option value=' + e.escolaridad + '>' + e.escolaridad + '</option>');
                    });
                }
            });
            $.ajax({
                type: 'GET',
                url: '/municipios.json',
                dataType: 'json',
                success: function (data) {
                    data.map(e => {
                        $("#lugExpPa").append('<option value=' + e.municipio + '>' + e.municipio + '</option>');
                    });
                }
            });
            $.ajax({
                type: 'GET',
                url: '/municipios.json',
                dataType: 'json',
                success: function (data) {
                    data.map(e => {
                        $("#municipioPa").append('<option value=' + e.municipio + '>' + e.municipio + '</option>');
                    });
                }
            });
            $.ajax({
                type: 'GET',
                url: '/nivelEscolaridad.json',
                dataType: 'json',
                success: function (data) {
                    data.map(e => {
                        $("#escolaridadPa").append('<option value=' + e.escolaridad + '>' + e.escolaridad + '</option>');
                    });
                }
            });
            $.ajax({
                type: 'GET',
                url: '/nivelEscolaridad.json',
                dataType: 'json',
                success: function (data) {
                    data.map(e => {
                        $("#escolaridadAcu").append('<option value=' + e.escolaridad + '>' + e.escolaridad + '</option>');
                    });
                }
            });

            $("#form-general").validate();
            $("#form-complementaria").validate();
            $("#form-familiar").validate();
            $("#form-final").validate();
            var stepperFormEl = document.querySelector('#form-beneficiario')
            stepperForm = new Stepper(stepperFormEl, {
                animation: true,
                linear: false
            })

            var btnNextList = [].slice.call(document.querySelectorAll('.btn-next-form'))
            var stepperPanList = [].slice.call(stepperFormEl.querySelectorAll('.bs-stepper-pane'))
            var inputMailForm = document.getElementById('inputMailForm')
            var inputPasswordForm = document.getElementById('inputPasswordForm')
            var form = stepperFormEl.querySelector('.bs-stepper-content form')

            btnNextList.forEach(function (btn) {
                btn.addEventListener('click', function () {
                    stepperForm.next()
                })
            })

            stepperFormEl.addEventListener('show.bs-stepper', function (event) {
                //form.classList.remove('was-validated')
                var nextStep = event.detail.indexStep
                var currentStep = nextStep

                if (currentStep > 0) {
                    currentStep--
                }

                var stepperPan = stepperPanList[currentStep]
                if (nextStep == 1) {
                    if (!$("#form-general").valid()) {
                        $("label.error").css("color", "red");
                        $("label.error").css("font-weight", "300");
                        event.preventDefault();
                    }
                } else if (nextStep == 2) {
                    if (!$("#form-complementaria").valid()) {
                        $("label.error").css("color", "red");
                        $("label.error").css("font-weight", "300");
                        event.preventDefault();
                    }
                } else if (nextStep == 3) {
                    if (!$("#form-familiar").valid()) {
                        $("label.error").css("color", "red");
                        $("label.error").css("font-weight", "300");
                        event.preventDefault();
                    }
                }

                //if ((stepperPan.getAttribute('id') === 'test-form-1' && !inputMailForm.value.length)
                //    || (stepperPan.getAttribute('id') === 'test-form-2' && !inputPasswordForm.value.length)) {
                //    event.preventDefault()
                //    form.classList.add('was-validated')
                //}
            })
        })

        /*--------------------------------- IMAGEN DE PERFIL ---------------------------*/

        $(document).on("click", ".browse", function () {
            var file = $(this).parents().find(".file");
            file.trigger("click");
        });

        $('input[type="file"]').change(function (e) {
            var fileName = e.target.files[0].name;
            $("#file").val(fileName);

            var reader = new FileReader();
            reader.onload = function (e) {
                // get loaded data and render thumbnail.
                document.getElementById("preview").src = e.target.result;
            };
            // read the image file as a data URL.
            reader.readAsDataURL(this.files[0]);
        });

        /*--------------------------------- GUARDAR FORMULARIO ---------------------------*/

        document.getElementById("btn-actualizar").addEventListener("click", function (event) {

            // Validar Check-Box

            var checked1 = document.getElementById("antecedenteMedico").checked;

            if (checked1) {
                document.getElementById("hiddenAnteMedic").value = "True";
            } else {
                document.getElementById("hiddenAnteMedic").value = "False";
            }

            var checked2 = document.getElementById("antecedentePsicologico").checked;

            if (checked2) {
                document.getElementById("hiddenAntePsico").value = "True";
            } else {
                document.getElementById("hiddenAntePsico").value = "False";
            }

            var checked3 = document.getElementById("autorizacionData").checked;

            if (checked3) {
                document.getElementById("hiddenAutorizacionData").value = "True";
            } else {
                document.getElementById("hiddenAutorizacionData").value = "False";
            }

            var checked4 = document.getElementById("autorizacionFoto").checked;

            if (checked4) {
                document.getElementById("hiddenAutorizacionFoto").value = "True";
            } else {
                document.getElementById("hiddenAutorizacionFoto").value = "False";
            }

            // Validar Aporte Economico (Padrino) e Ingreso economico(Padres y acudiente)

            let aportePadrino = $('#aportePadrino').val();
            let ingresoEcoMa = $('#ingresoEcoMa').val();
            let ingresoEcoPa = $('#ingresoEcoPa').val();
            let ingresoEcoAcu = $('#ingresoEcoAcu').val();

            if (aportePadrino == "") {
                document.getElementById("aportePadrino").value = 0;
            }

            if (ingresoEcoMa == "") {
                document.getElementById("ingresoEcoMa").value = 0;
            }

            if (ingresoEcoPa == "") {
                document.getElementById("ingresoEcoPa").value = 0;
            }

            if (ingresoEcoAcu == "") {
                document.getElementById("ingresoEcoAcu").value = 0;
            }

            // Campo de jornada
            let jornada = $('#jornada').val();

            if (jornada == "") {
                document.getElementById("jornada").value = 1;
            }

            // Validacion y metodo Editar

            if (!$("#form-final").valid()) {
                $("label.error").css("color", "red");
                $("label.error").css("font-weight", "300");

                event.preventDefault();

            } else {
                Swal.fire({
                    text: '¿Desea actualizar el registro?',
                    icon: 'question',
                    confirmButtonColor: '#afdb6e',
                    showDenyButton: true,
                    showCancelButton: false,
                    confirmButtonText: 'Actualizar',
                    denyButtonText: 'Cancelar',
                }).then((result) => {
                    if (result.isConfirmed) {
                        var imagen = $("#imagen").prop("files");
                        let formData = new FormData();

                        formData.append("PreinscripcionId", document.getElementById("preinscripcionId").value);
                        formData.append("PrimerNombreBeneficiario", document.getElementById("primerNomB").value);
                        formData.append("SegundoNombreBeneficiario", document.getElementById("segundoNomB").value);
                        formData.append("PrimerApellidoBeneficiario", document.getElementById("primerApeB").value);
                        formData.append("SegundoApellidoBeneficiario", document.getElementById("segundoApeB").value);
                        formData.append("FechaNacimiento", document.getElementById("fechaNac").value);
                        formData.append("Edad", document.getElementById("edad").value);
                        formData.append("LugarNacimiento", document.getElementById("lugNaci").value);
                        formData.append("TipoDocumentoId", document.getElementById("tipoDocumento").value);
                        formData.append("NumeroDocumento", document.getElementById("numDoc").value);
                        formData.append("LugarExpedicionDocumento", document.getElementById("expedido").value);
                        formData.append("ModalidadId", document.getElementById("modalidad").value);
                        formData.append("CustodiaBeneficiario", document.getElementById("custodiaBeneficiario").value);
                        formData.append("DireccionResidencia", document.getElementById("direccion").value);
                        formData.append("Municipio", document.getElementById("municipio").value);
                        formData.append("EtniaId", document.getElementById("etnia").value);
                        formData.append("GeneroId", document.getElementById("genero").value);
                        formData.append("TallaCamisa", document.getElementById("tallaCamisa").value);
                        formData.append("TallaPantalon", document.getElementById("tallaPantalon").value);
                        formData.append("TallaZapatos", document.getElementById("tallaZapatos").value);
                        formData.append("NombreEps", document.getElementById("nombreEps").value);
                        formData.append("GrupoSanguineoId", document.getElementById("factorRh").value);
                        formData.append("GrupoSisben", document.getElementById("grupoSisben").value);
                        formData.append("AntecedenteMedico", document.getElementById("hiddenAnteMedic").value);
                        formData.append("AntecedentePsicologico", document.getElementById("hiddenAntePsico").value);
                        formData.append("DescripcionEnfermedad", document.getElementById("descripcionEnfermedad").value);
                        formData.append("DescripcionPsicologica", document.getElementById("descripcionPsicologica").value);
                        formData.append("JornadaId", document.getElementById("jornada").value);
                        formData.append("PadrinoId", document.getElementById("padrino").value);
                        formData.append("AporteEconomicoPadrino", document.getElementById("aportePadrino").value);
                        formData.append("NombreMadre", document.getElementById("nombreMa").value);
                        formData.append("ApellidoMadre", document.getElementById("apellidoMa").value);
                        formData.append("NumeroDocumentoMadre", document.getElementById("numDocMa").value);
                        formData.append("LugarExpedicionDocumentoMadre", document.getElementById("lugExpMa").value);
                        formData.append("OcupacionMadre", document.getElementById("ocupacionMa").value);
                        formData.append("TelefonoMadre", document.getElementById("telefonoMa").value);
                        formData.append("DireccionMadre", document.getElementById("direccionMa").value);
                        formData.append("BarrioMadre", document.getElementById("barrioMa").value);
                        formData.append("MunicipioMadre", document.getElementById("municipioMa").value);
                        formData.append("NivelEscolaridadMadre", document.getElementById("escolaridadMa").value);
                        formData.append("IngresoEconomicoMadre", document.getElementById("ingresoEcoMa").value);
                        formData.append("NombrePadre", document.getElementById("nombrePa").value);
                        formData.append("ApellidoPadre", document.getElementById("apellidoPa").value);
                        formData.append("NumeroDocumentoPadre", document.getElementById("numDocPa").value);
                        formData.append("LugarExpedicionDocumentoPadre", document.getElementById("lugExpPa").value);
                        formData.append("OcupacionPadre", document.getElementById("ocupacionPa").value);
                        formData.append("TelefonoPadre", document.getElementById("telefonoPa").value);
                        formData.append("DireccionPadre", document.getElementById("direccionPa").value);
                        formData.append("BarrioPadre", document.getElementById("barrioPa").value);
                        formData.append("MunicipioPadre", document.getElementById("municipioPa").value);
                        formData.append("NivelEscolaridadPadre", document.getElementById("escolaridadPa").value);
                        formData.append("IngresoEconomicoPadre", document.getElementById("ingresoEcoPa").value);
                        formData.append("NombreAcudiente", document.getElementById("nombreAcu").value);
                        formData.append("NumeroDocumentoAcudiente", document.getElementById("numDocAcu").value);
                        formData.append("ApellidoAcudiente", document.getElementById("apellidoAcu").value);
                        formData.append("LugarExpedicionDocumentoAcudiente", document.getElementById("lugExpAcu").value);
                        formData.append("OcupacionAcudiente", document.getElementById("ocupacionAcu").value);
                        formData.append("TelefonoAcudiente", document.getElementById("telefonoAcu").value);
                        formData.append("DireccionAcudiente", document.getElementById("direccionAcu").value);
                        formData.append("BarrioAcudiente", document.getElementById("barrioAcu").value);
                        formData.append("MunicipioAcudiente", document.getElementById("municipioAcu").value);
                        formData.append("NivelEscolaridadAcudiente", document.getElementById("escolaridadAcu").value);
                        formData.append("IngresoEconomicoAcudiente", document.getElementById("ingresoEcoAcu").value);
                        formData.append("FechaRegistro", document.getElementById("fechaReg").value);
                        formData.append("AutorizacionData", document.getElementById("hiddenAutorizacionData").value);
                        formData.append("AutorizacionFoto", document.getElementById("hiddenAutorizacionFoto").value);
                        formData.append("EstadoId", document.getElementById("estado").value);

                        if (document.getElementById("NombreImagen") != null) {
                            formData.append("NombreImagen", document.getElementById("NombreImagen").value);
                        }                            

                        formData.append("Imagen", imagen[0]);

                        $.ajax({
                            url: '@Url.Action("Edit", "Preinscripcion")',
                            type: 'post',
                            processData: false,
                            contentType: false,
                            data: formData,
                            dataType: 'json',
                            success: function (result) {
                                if (result.status == true) {
                                    setTimeout(function () {
                                        window.location.href = '@Url.Action("Index", "Preinscripcion")';
                                    }, 1000);
                                    alertify.success('Actualizado');
                                } else {
                                    alertify.error('No se pudo actualizar');
                                }
                            },
                            error: function (err) {
                                console.log(err.data);
                            }
                        });
                    } else if (result.isDenied) {
                        alertify.error('Cancelado');
                    }
                })
            }
        })

    </script>    

}
