@model EditarRolViewModel

@{
    ViewData["Title"] = "Editar rol";
}


@section Style {

    <link href="~/css/AggBeneficiario.css" rel="stylesheet" />
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header pb-0">
        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col-sm-6">
                    <ul id="List"> <li class="heading" style="list-style: none; font-size: 25px" id="IconList"> Editar rol</li></ul>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="ListarRoles">Listar roles</a></li>
                        <li class="breadcrumb-item active">Editar rol</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 mx-auto p-2">
                <div class="card mt-0 mb-3 p-5">
                    <div class="col-sm-12">
                        <div class="">
                            <h4 class="text-left">
                                <b id="Tite">
                                    Editar rol
                                </b>
                            </h4>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <hr />
                    </div>
                    <input type="hidden" asp-for="Id" disabled class="form-control">
                    <form method="post" asp-action="EditarRol" id="editar-rol">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input type="hidden" id="succeededRol" value="@ViewBag.Succeeded" />
                        <div class="d-flex justify-content-between col-sm-12">
                            <div class="col-sm-5 p-0">
                                @*<div class="form-group row" style="display: none">
                    <label asp-for="Id" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">

                    </div>
                </div>*@
                                <div class="form-group">
                                    <label asp-for="NombreRol">Nombre del rol</label>
                                    <input required asp-for="NombreRol" class="form-control">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-10">
                                        <button type="button" class="btn btn-success" onclick="editarRol()">Actualizar</button>
                                        <a asp-action="ListarRoles" class="btn btn-danger">Cancelar</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-5 pr-0">
                                <div class="card">
                                    <div class="card-header">
                                        <h3>Usuarios en este rol</h3>
                                    </div>
                                    <div class="card-body">
                                        @if (Model.Usuarios.Any())
                                        {
                                            for (int i = 0; i < Model.Usuarios.Count; i++)
                                            {
                                                <div class="d-flex justify-content-start">
                                                    <h5 class="card-title">@Model.Usuarios[i]</h5>
                                                </div>

                                            }
                                        }
                                        else
                                        {
                                            <h5 class="card-title">No existen usuarios</h5>
                                        }
                                    </div>
                                    @*<div class="card-footer">
                        <a asp-controller="Configuracion" asp-action="EditarUsuarioRol" asp-route-RolId="@Model.Id"
                               class="btn btn-primary" style="width:auto">
                                Agregar o remover usuario
                            </a>
                    </div>*@
                                </div>
                            </div>

                        </div>
                        @*<div class="card mt-3">
                            <div class="card-header">
                                <h3>Permisos del rol</h3>
                            </div>
                            <div class="card-body">
                                @if (Model.Notificaciones.Any())
                                {
                                    foreach (var claim in Model.Notificaciones)
                                    {
                                        <div class="d-flex justify-content-start">
                                            <h5 class="card-title">@claim</h5>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <h5 class="card-title">Ninguno</h5>
                                }
                            </div>
                            <div class="card-footer">
                                <a asp-action="GestionarRolClaims" asp-route-IdRol="@Model.Id" class="btn btn-primary">
                                    Gestionar permisos
                                </a>
                            </div>
                        </div>*@
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.content-wrapper -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

    document.addEventListener('DOMContentLoaded', function () {
        $("#editar-rol").validate();
    })

    function editarRol() {
        if (!$("#editar-rol").valid()) {
            $("label.error").css("color", "red");
            $("label.error").css("font-weight", "300");

            event.preventDefault();

        } else {
            Swal.fire({
                text: '¿Desea actualizar este rol?',
                icon: 'question',
                confirmButtonColor: '#afdb6e',
                showDenyButton: true,
                showCancelButton: false,
                confirmButtonText: 'Actualizar',
                denyButtonText: 'Cancelar',
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('editar-rol').submit();
                }
            })
        }
    }

        let succeeded = document.getElementById('succeededRol').value;
        if (succeeded == 200) {
            setTimeout(function () {
                window.location.href = '@Url.Action("ListarRoles", "Configuracion")';
            }, 1300);
            alertify.success('Actualizado');
        }

    </script>

}