@model List<RolUsuarioViewModel>

@{
    var id = ViewBag.IdUsuario;
}

@{
    ViewData["Title"] = "Agregar o remover rol del usuario";
}


@section Style {

    <link href="~/css/AggBeneficiario.css" rel="stylesheet" />
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header pb-0">
        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col-sm-6">
                    <ul id="List"> <li class="heading" style="list-style: none; font-size: 25px" id="IconList"> Actualizar rol</li></ul>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="ListarRoles">Configuración</a></li>
                        <li class="breadcrumb-item active">Gestionar rol</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 p-2">
                <div class="card mt-0 mb-3 p-5 mx-auto">
                    <form method="post" id="formGestionarRolUsuario">
                        <div class="card">
                            <div class="card-header">
                                <h2>Actualizar rol de este usuario</h2>
                            </div>
                            <div class="card-body">
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    <div class="form-check m-1">
                                        <input type="hidden" asp-for="@Model[i].RolId" />
                                        <input type="hidden" asp-for="@Model[i].RolNombre" />
                                        <input type="checkbox" asp-for="@Model[i].EstaSeleccionado" class="form-check-input only-one" />
                                        <label class="form-check-label" asp-for="@Model[i].EstaSeleccionado">
                                            @Model[i].RolNombre
                                        </label>
                                    </div>
                                }
                            </div>
                            <div class="card-footer">
                                <input type="button" id="btn-actualizar" value="Actualizar" class="btn btn-success" />
                                <a asp-action="EditarUsuario" asp-route-Id="@id" class="btn btn-danger" style="width: auto">
                                    Cancelar
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.content-wrapper -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            let Checked = null;
            //The class name can vary
            for (let CheckBox of document.getElementsByClassName('only-one')) {
                CheckBox.onclick = function () {
                    if (Checked != null) {
                        Checked.checked = false;
                        Checked = CheckBox;
                    }
                    Checked = CheckBox;
                }
            }
        })        

        document.getElementById("btn-actualizar").addEventListener("click", function (event) {
            Swal.fire({
                text: '¿Desea actualizar el rol de este usuario?',
                icon: 'question',
                confirmButtonColor: '#afdb6e',
                showDenyButton: true,
                showCancelButton: false,
                confirmButtonText: 'Actualizar',
                denyButtonText: 'Cancelar',
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('formGestionarRolUsuario').submit();
                }
            })
        })


    </script>

}